<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inkblogdb.ddd.infrastructure.database.player.PlayerMapper">

    <select id="findById" resultType="com.inkblogdb.ddd.infrastructure.database.player.PlayerRecordEntity">
        SELECT
            id,
            name
        FROM
            t_players
        WHERE
            id = #{id}
    </select>

    <insert id="save">
        INSERT INTO t_players
            (id, name)
        VALUES
            (#{id}, #{name})
    </insert>

</mapper>
